package <%= package %>

import (
	"encoding/json"
	"github.com/fatih/structs"
)

<% for (var i=0; i < comments.length; i++) { %>
// <%= comments[i] %> <% } %>
type <%= name %> struct {
	<% for (var i=0;i<attributes.length; i++) { var a = attributes[i]; %>
		<% for (var x=0; x < a.comments.length; x++) { %>
		// <%= a.comments[x] %> <% } %>
		
		<% if (a.readonly || a.access === 'private') { %>
		<%= a.name.toLowerCase() %> <%= a.type %> `json:"<%= a.json %>"`
		
		<% } else {%>
		
		<%= a.name.capitalize() %> <%= a.type %> `json:"<%= a.json %>"`
		
		<% } %>
	<% } %>
}

<% var short = name[0].toLowerCase(); %>

func (<%= short %> *<%= name %>) ToJSON () []byte{
	b, _ := json.Marshal(<%= short %>)
	return b
}

func (<%= short %> *<%= name %>) ToMap () map[string]interface{} {
	return structs.Map(<%= short %>)
}

<% for (var i=0;i<attributes.length; i++) { var a = attributes[i]; %>
<% if (a.readonly && a.access !== 'private') { %>
func (<%= short %> *<%= name %>) Get<%=a.name%> () <%= a.type %> {
	return <%= short %>.<%=a.name.toLowerCase()%>
} 
<% } %> 

<% } %>

func New<%= name %>FromJSON(bytes []byte) *<%= name %> {
	
	var <%= name.toLowerCase() %> *<%= name %>
	
	err := json.Unmarshal(bytes, &<%= name.toLowerCase() %>)
	
	if err != nil {
		return nil
	}
	return <%= name.toLowerCase() %>
} 